
    <div class="modal" style="display: block; background-color: rgba(0, 0, 0, 0.7);">
        <div class="modal-dialog">
            <div class="modal-content ontoplook" style="margin-top: 35%;">
                <div class="modal-header">
                    <h4 class="modal-title">Tack för att du kontaktar oss!</h4>
                </div>
                <div class="modal-body">
                    <p>Vi ska så snart vi kan återkomma till dig angående detta ärende. Normalt inom 24 timmar.</p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-success" value="Ok" onclick="location.href='@Url.Action("Index", "Home")'" />
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>