

@{
    ViewBag.Title = "Sök efter fotbollsplaner";
    @model Hittafotbollsplaner.Models.FotbollsplanerModels
}


<div class="jumbotron">
    <div class="form-group searchForm">
        <label for="search">Sök efter fotbollsplan:</label>
        <input type="search" class="form-control" id="search" placeholder="Adress eller Namn">
    </div>
</div>

<div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <h3>Populära</h3>
            <!--PartialView som hämtar populära-->
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item">11</a>
                <a href="#" class="list-group-item list-group-item">Exempel 2</a>
                <a href="#" class="list-group-item list-group-item">Exempel 3</a>
                <a href="#" class="list-group-item list-group-item">Exempel 4</a>

                @using (Html.BeginForm("Index", "Home"))
                {
                    foreach (var item in Model.fotbollsplaner)
                    {
                        <a href="#" class="list-group-item list-group-item">@item.Namn</a>
                    }

                @Html.ListBox("Fotbollsplaner", new SelectList(Model.fotbollsplaner, "Id", "Namn"))
                }

            </div>
        </div>
        <div class="col-md-3">
            <h3>Nyligen tillagda</h3>
            <!--PartialView som hämtar nyligen tillagda-->
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item">Exempel 1</a>
                <a href="#" class="list-group-item list-group-item">Exempel 2</a>
                <a href="#" class="list-group-item list-group-item">Exempel 3</a>
                <a href="#" class="list-group-item list-group-item">Exempel 4</a>
            </div>
        </div>
    <div class="col-md-3"></div>
    </div>
