@{
    ViewBag.Title = "Sök efter fotbollsplaner";
    @model Hittafotbollsplaner.Models.FotbollsplanerModels
}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/smoothness/jquery-ui.css" />
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



<script>
    $(document).ready(function () {
        $("#search").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Home/GetAutoCompleteData",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.Namn, value: item.Adress
                            }
                        }))
                    },
                    messages: {
                        noResults: "", results: ""
                    }
                });
            }
        });
    });
</script>


<div class="sökDiv">
    <img id="logo" src="/Content/img/hfpLogotype.png" style="width: 150px; height: 60px;">
    <div class="input-group">
        <input id="sökinput" type="text" class="form-control" placeholder="Sök på adress eller namn..">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default"><i class="material-icons">my_location</i></button>
            @*<button type="button" class="btn btn-default"><i class="material-icons">search</i></button>*@
        </div>
    </div>
</div>

<button id="scrollto" type="button" class="btn btn-default btn-lg scrollto"><i class="material-icons graybtn">keyboard_arrow_down</i></button>


<div class="row" style="margin-top: 3%;">
    <div class="col-md-3"></div>
    <div class="col-md-3">
        <h3>Populära</h3>
        <div class="list-group">

            @using (Html.BeginForm("Index", "Home"))
            {
                foreach (var item in Model.fotbollsplaner) // RADAR UPP FOTBOLLSPLANERS NAMN I "SENAST"
                {
                    <a class="list-group-item list-group-item" href="@Url.Action("AktuellFotbollsplan", "Fotbollsplan", new { id = item.Id })"><li>@item.Namn</li></a>
                }
            }
        </div>
    </div>
    <div class="col-md-3">
        <h3>Nyligen tillagda</h3>
        <div class="list-group">

            @using (Html.BeginForm("Index", "Home"))
            {
                foreach (var item in Model.senasteFotbollsplaner) // RADAR UPP FOTBOLLSPLANERS NAMN I "SENAST"
                {
                    <a class="list-group-item list-group-item" href="@Url.Action("AktuellFotbollsplan", "Fotbollsplan", new { id = item.Id })"><li>@item.Namn</li></a>
                }
            }
        </div>
    </div>
    <div class="col-md-3"></div>
</div>


