@{
    ViewBag.Title = "Lägg till ny fotbollsplan";
}
<h2>@ViewBag.Title.</h2>


<p>(Formulär)</p>



<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" class="btn btn-default" value="Lägg till" />
    </div>
</div>


