@{
    ViewBag.Title = "Lägg till ny fotbollsplan";
}


<br />
<br />
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Lägg till ny fotbollsplan</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="control-label" for="focusedInput">Namn på fotbollsplan:</label>
                <input class="form-control" id="focusedInput" type="text">
            </div>
            <div class="form-group">
                <label class="control-label" for="focusedInput">Adress:</label>
                <input class="form-control" id="focusedInput" type="text">
            </div>
            <div class="form-group">
                <label class="control-label" for="focusedInput">Ort:</label>
                <input class="form-control" id="focusedInput" type="text">
            </div>
            <div class="form-group">
                <label class="control-label" for="focusedInput">Postnummer:</label>
                <input class="form-control" id="focusedInput" type="text">
            </div>
            <div class="form-group">
                <label class="control-label" for="focusedInput">Underlag:</label>
                <select class="form-control" id="select">
                    <option>Gräs</option>
                    <option>Konstgräs</option>
                    <option>Grus</option>
                </select>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Lägg till" />
                </div>
            </div>
        </div>
    </div>



