
    <div class="modal" style="display: block; background-color: rgba(0, 0, 0, 0.7);">
        <div class="modal-dialog">
            <div class="modal-content ontoplook">
                <div class="modal-header">
                    <h4 class="modal-title">Fotbollsplanen tillagd!</h4>
                </div>
                <div class="modal-body">
                    <p>Fotbollsplanen är nu tillagd och vi tackar för att du hjälper oss. </p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-success" value="Ok" onclick="location.href='@Url.Action("Index", "Home")'" />
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>