

body {
    background: url(../Content/img/start_1920.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*.fullscreenBackground{
    position: absolute;
    top:0px;
    width: 100%;
    height: 850px;
    background-image: url(../Content/img/start_1920.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;

    /*-webkit-box-shadow: 0px 10px 52px -1px rgba(6, 35, 41, 0.75);
    -moz-box-shadow: 0px 10px 52px -1px rgba(6, 35, 41, 0.75);
    box-shadow: 0px 10px 52px -1px rgba(6, 35, 41, 0.75);*/
}*/

hr{
    border-top: 1px solid white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.row {
    margin-top: -15px;
}

.icon-panel{
    margin-top: 2.5%;
}

.ovrigtrow{
    margin-top: 3.5%;
    margin-left: 5%;
}

.activeIcon{
    color: #2ab74b;
}
.disabledIcon{
    color: #7d7d7d;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top: 20%;
    border-radius: 5px;
}
img {
    border-radius: 5px 5px 0 0;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
    width:75%;
}

input#search.form-control {
    border-radius: 40px;
    max-width: 30%;
}

div.list-group {
    border-radius: 50px;
}

input,
select,
textarea {
    max-width: 280px;
}

#divSuccessMessage {
    z-index: 10;
}

.navbar {
    top: 0;
    position: absolute;
    display: none;
    z-index:9;
    width: 100%;
    border-radius: 0px;
}

.navbar-collapse li{
    text-align: center;
    border-top: 1px solid rgba(199, 199, 199, 0.35);
}
.navbar-collapse li:first-child{
    border: none;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: rgba(33, 160, 62, 0.60);
}

.searchForm {
    margin: 0 auto;
    text-align: center;
}
input[type="search"] {margin:0 auto;}


.content {
    margin: 0% auto;
    width: 90%;
}
div.body-om {
    width: 60% !important;
    margin-left: auto;
    margin-right: auto;
}

div.body-nyplan {
    width: 95% !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

div.container-generellinfo,div.container-planinfo,div.container-tillgängligt{
    margin-bottom: 2%;
    padding: 0;
    background-color: white;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

/*  VALIDATION  */

.form-group {
    margin-bottom: 40px;
}

.field-validation-error {
    position: absolute;
    z-index: 10;
    padding: 3px;
    border-radius: 4px;
    background-color: #ededed;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    /*TEXTEN*/
    color: darkred;
    font-size: small;
}



div.card.col-md-6 {
    position: relative;
    width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

div.card.col-md-6:hover .image {
  opacity: 0.3;
}

div.card.col-md-6:hover .middle {
  opacity: 1;
}

.text {
  background-color: rgb(128, 128, 128);
  color: white;
  font-size: 16px;
  padding: 12px 34px;
  border-radius: 40px;
}

.text a {
    text-decoration: none;
    color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: rgba(33, 160, 62, 0.60);
}

#ui-id-1 {
    border-radius: 15px;
    font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
    padding: 5px;
    z-index: 1000;
}

.toppanel{
    text-align: center;
    margin-bottom: 2%;
}

.infoDiv{
    margin-top:-2%;
    width:100%;
    padding-left:15px;
}

.bildfotbollsplan {
    position:relative;
    z-index:10;
    padding-right: 15px;
    width:35%;
    min-width: 175px;
    margin-top: -9.5%;
}

a.list-group-item {
    list-style-type: none;
}

.information-panel,.aktuellkarta{
    min-height: inherit;
}

div.kommentar-panel,div.extra-panel{
    min-height: 90px;
}

button.btn.btn-default.btn-lg.hideNav{
    position: absolute;
    z-index: 10;
    width: 3%;
    height: 2%;
    font-size: 10px;
    left:0;
    top:0;
    margin: 0;
    border: 1px solid #3c3c3c;
}

.sökDiv{
    position: relative;
    z-index:11;
    background-color: #eaeaea;
    outline: 15px solid white;
    width: 32%;
    height: auto;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 4%;
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.75);
}

#logo{
    margin-top: 5%;
    margin-bottom: 3%;
}


div.input-group{
    width: 329px;
    margin: 0 auto;
}


input#sökinput{
    height: 46px;
}

.mini-nav ul{
    padding: 0;
    list-style-type: none;
}
.mini-nav li {
        display: inline-block;
        margin-top: 5px;
        padding: 5px;
}
.mini-nav li a{
        font-size: 16px;
        font-weight: bold;
}


.kartDiv{
    margin: 0 auto;
    width: 60%;
    height: 540px;
     margin-bottom: 2.5%;
}


.ontoppageStart,.ontoppageNyplan,.ontoppageOm,.ontoppageKontakt {
    min-height: 300px;
    position: relative;
    z-index: 10;
    top: 80px;
    margin-bottom: 100px;
    background-color: #eaeaea;
    outline: 15px solid white;
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.75);

}

.ontoplook{
    position: relative;
    z-index: 10;
    background-color: #eaeaea;
    border: none;
    border-radius: 0px;
    outline: 15px solid white;
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.75);
}


.aktuellplan1{
    margin-top: 80px;
    margin-bottom:5.5%;
}

.nolidots{
    list-style-type: none;
    margin-left: -37px;
}

.genInfoSlide,.planInfoSlide,.tillgängligtSlide{
    width: 100%;
    height:35px;
    padding-top: 3px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #cccccc;

    font-size: larger;
    font-weight: bold;
}

span#genInfoSlideIco.glyphicon-chevron-down,
span#planInfoSlideIco.glyphicon-chevron-down,
span#tillgängligtSlideIco.glyphicon-chevron-down{
    color: #2ab74b;
    top:5px;
}

span#genInfoSlideIco.glyphicon-chevron-up,
span#planInfoSlideIco.glyphicon-chevron-up,
span#tillgängligtSlideIco.glyphicon-chevron-up{
    color: #2ab74b;
}


span.hjalpKnapp{
    font-size: x-large;
    color: #2ab74b;
}

span.hjalpKnapp:hover span.hjalpText{
    visibility: visible;
    opacity: 1;
}

span.hjalpText{
    visibility: hidden;
    width: 400px;
    background-color: #555;
    color: #fff;
    text-align: center;
    font-family: "News Cycle", "Arial Narrow", sans-serif;
    padding: 5px;
    border-radius: 6px;
    font-size: smaller;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 100%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

footer.ontoplookFooter{
    position: relative;
    right: 0;
    bottom: -30%;
    left: 0;

    margin: 0 auto;
    width: 50%;
    height: 4%;
    min-height: 4%;

}

li#merInfo{
    list-style-type: none;
    text-align: center;
    background-color:lightgrey;
    padding: 3%;
    border-radius: 5px;
    text-decoration: none;
}
li#merInfo:hover{

}
a#merInfoA{
    text-decoration: none;

}