body {
    background-color: #eeeeee;
}

.fullscreenBackground{
    top:-100px;
    width: 100%;
    height: 700px;
    background-image: url(../Content/img/start_1920.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;

    -webkit-box-shadow: 0px 10px 52px -1px rgba(6, 35, 41, 0.75);
    -moz-box-shadow: 0px 10px 52px -1px rgba(6, 35, 41, 0.75);
    box-shadow: 0px 10px 52px -1px rgba(6, 35, 41, 0.75);
}


.row {
    margin-top:-15px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top: 20%;
    border-radius: 5px;
}
img {
    border-radius: 5px 5px 0 0;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
    width:75%;
}

input#search.form-control {
    border-radius: 40px;
    max-width: 30%;
}

div.list-group {
    border-radius: 50px;
}

input,
select,
textarea {
    max-width: 280px;
}

#divSuccessMessage {
    z-index: 10;
}

.navbar {
    top: 0;
    position: absolute;
    display: none;
    z-index:9;
    width: 100%;
    border-radius: 0px;
}

.navbar-collapse li{
    text-align: center;
    border-top: 1px solid rgba(199, 199, 199, 0.35);
}
.navbar-collapse li:first-child{
    border: none;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: rgba(33, 160, 62, 0.60);
}

.searchForm {
    margin: 0 auto;
    text-align: center;
}
input[type="search"] {margin:0 auto;}


.content {
    margin: 0% auto;
    width: 90%;
}
div.body-om {
    width: 60% !important;
    margin-left: auto;
    margin-right: auto;
}

div.body-nyplan {
    width: 60% !important;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);

}

/*  VALIDATION  */

.form-group {
    margin-bottom: 40px;
}

.field-validation-error {
    position: absolute;
    z-index: 10;
    padding: 3px;
    border-radius: 4px;
    background-color: #ededed;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    /*TEXTEN*/
    color: darkred;
    font-size: small;
}



div.card.col-md-6 {
    position: relative;
    width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

div.card.col-md-6:hover .image {
  opacity: 0.3;
}

div.card.col-md-6:hover .middle {
  opacity: 1;
}

.text {
  background-color: rgb(128, 128, 128);
  color: white;
  font-size: 16px;
  padding: 12px 34px;
  border-radius: 40px;
}

.text a {
    text-decoration: none;
    color: white;
}

a.logotyp img{


}
.navbar-inverse .navbar-nav > li > a:hover {
    color: rgba(33, 160, 62, 0.60);
}

#ui-id-1 {
    border-radius: 15px;
    font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
    padding: 5px;
    z-index: 1000;
}


.infoDiv{
    width:65%;
    padding-left:15px;
}

.bildfotbollsplan {
    position:relative;
    z-index:10;
    padding: 15px;
    width:35%;
    min-width: 175px;
}

a.list-group-item {
    list-style-type: none;
}

.information-panel{
    height: 372px;
}

button.btn.btn-default.btn-lg.hideNav{
    position: absolute;
    z-index: 10;
    width: 3%;
    height: 2%;
    font-size: 10px;
    left:0;
    top:0;
    margin: 0;
    border: 1px solid #3c3c3c;
}

.sökDiv{
    position: relative;
    z-index:11;
    background-color: #eaeaea;
    outline: 15px solid white;
    width: 600px;
    height: 200px;
    margin: 0 auto;
    top: -600px;
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.75);
}

#logo{
    margin-left: 33%;
    margin-top: 5%;
    margin-bottom: 3%;
}


div.input-group{
    width: 329px;
    margin: 0 auto;
}


input#sökinput{
    height: 46px;
}

.ontoppage,.ontoppageNyplan,.ontoppageOm,.ontoppageKontakt {
    top: -300px;
    position: relative;
    z-index: 10;
    background-color: #eaeaea;
    outline: 15px solid white;
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.75);
}

.ontoplook{
    position: relative;
    z-index: 10;
    background-color: #eaeaea;
    outline: 15px solid white;
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.75);
}

.ontoppageNyplan,.ontoppageOm,.ontoppageKontakt{
    margin-top: -300px;
}

.aktuellplan1{
    margin-top: -500px;
    margin-bottom:5.5%;
}

/*#lat, #long {             döljer lat o long fälten.
    visibility: hidden;
}*/