@model Hittafotbollsplaner.Models.fotbollsplaner

<br />
<br />

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-primary fullwidth">
            <div class="panel-heading">
                <h3 class="panel-title">Information</h3>
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary fullwidth">
            <div class="panel-heading">
                <h3 class="panel-title">Karta</h3>
            </div>
            <div class="panel-body">
                GOOGLE MAPS KARTA HÄR
            </div>
        </div>
    </div>
</div>