
    <div class="modal" style="display: block; background-color: rgba(0, 0, 0, 0.7);">
        <div class="modal-dialog">
            <div class="modal-content ontoplook" style="margin-top: 35%;">
                <div class="modal-header">
                    <h4 class="modal-title">Fel</h4>
                </div>
                <div class="modal-body">
                    <p>hej hej hej</p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-success" value="Stäng" onclick="@Html.Action("FelClose", "Fotbollsplan")" />
                    <input type="button" class="btn btn-success" value="Ok" onclick="@Html.Action("FelClose", "Fotbollsplan")" />
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>