@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Avstängd";
}

<hgroup>
    <h1 class="text-danger">Avstängd.</h1>
    <h2 class="text-danger">Det här kontot har blivit avstängt. </h2>
</hgroup>
